<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-benefits-heading" jhiTranslate="sahatiApp.invoiceBenefits.home.createOrEditLabel">Create or edit a Invoice Benefits</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.pointsCost" for="field_pointsCost">Points Cost</label>
                    <input type="number" class="form-control" name="pointsCost" id="field_pointsCost"
                           formControlName="pointsCost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.cost" for="field_cost">Cost</label>
                    <input type="number" class="form-control" name="cost" id="field_cost"
                           formControlName="cost"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.quantity" for="field_quantity">Quantity</label>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.benefit" for="field_benefit">Benefit</label>
                    <select class="form-control" id="field_benefit" name="benefit" formControlName="benefitId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="benefitOption.id" *ngFor="let benefitOption of benefits; trackBy: trackById">{{ benefitOption.nameAr }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoiceBenefits.invoice" for="field_invoice">Invoice</label>
                    <select class="form-control" id="field_invoice" name="invoice" formControlName="invoiceId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="invoiceOption.id" *ngFor="let invoiceOption of invoices; trackBy: trackById">{{ invoiceOption.invoiceNo }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
