<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoiceBenefits">
            <h2><span jhiTranslate="sahatiApp.invoiceBenefits.detail.title">Invoice Benefits</span> {{ invoiceBenefits.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.pointsCost">Points Cost</span></dt>
                <dd>
                    <span>{{ invoiceBenefits.pointsCost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.cost">Cost</span></dt>
                <dd>
                    <span>{{ invoiceBenefits.cost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.quantity">Quantity</span></dt>
                <dd>
                    <span>{{ invoiceBenefits.quantity }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.total">Total</span></dt>
                <dd>
                    <span>{{ invoiceBenefits.total }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.benefit">Benefit</span></dt>
                <dd>
                    <div *ngIf="invoiceBenefits.benefitId">
                        <a [routerLink]="['/benefit', invoiceBenefits.benefitId, 'view']">{{ invoiceBenefits.benefitNameAr }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoiceBenefits.invoice">Invoice</span></dt>
                <dd>
                    <div *ngIf="invoiceBenefits.invoiceId">
                        <a [routerLink]="['/invoice', invoiceBenefits.invoiceId, 'view']">{{ invoiceBenefits.invoiceInvoiceNo }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice-benefits', invoiceBenefits.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
