<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="benefitRequest">
            <h2><span jhiTranslate="sahatiApp.benefitRequest.detail.title">Benefit Request</span> {{ benefitRequest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sahatiApp.benefitRequest.nameAr">Name Ar</span></dt>
                <dd>
                    <span>{{ benefitRequest.nameAr }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.nameEn">Name En</span></dt>
                <dd>
                    <span>{{ benefitRequest.nameEn }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.pointsCost">Points Cost</span></dt>
                <dd>
                    <span>{{ benefitRequest.pointsCost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.cost">Cost</span></dt>
                <dd>
                    <span>{{ benefitRequest.cost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.benefitStatus">Benefit Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sahatiApp.BenefitStatus.' + benefitRequest.benefitStatus }}">{{ benefitRequest.benefitStatus }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.notes">Notes</span></dt>
                <dd>
                    <span>{{ benefitRequest.notes }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.category">Category</span></dt>
                <dd>
                    <div *ngIf="benefitRequest.categoryId">
                        <a [routerLink]="['/category', benefitRequest.categoryId, 'view']">{{ benefitRequest.categoryNameAr }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.hospital">Hospital</span></dt>
                <dd>
                    <div *ngIf="benefitRequest.hospitalId">
                        <a [routerLink]="['/hospital', benefitRequest.hospitalId, 'view']">{{ benefitRequest.hospitalNameAr }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefitRequest.benefit">Benefit</span></dt>
                <dd>
                    <div *ngIf="benefitRequest.benefitId">
                        <a [routerLink]="['/benefit', benefitRequest.benefitId, 'view']">{{ benefitRequest.benefitNameAr }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/benefit-request', benefitRequest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
