<div>
    <h2 id="page-heading">
        <span jhiTranslate="sahatiApp.benefitRequest.home.title">Benefit Requests</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-benefit-request" [routerLink]="['/benefit-request/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sahatiApp.benefitRequest.home.createLabel">
            Create a new Benefit Request
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="benefitRequests?.length === 0">
        <span jhiTranslate="sahatiApp.benefitRequest.home.notFound">No benefitRequests found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="benefitRequests?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nameAr"><span jhiTranslate="sahatiApp.benefitRequest.nameAr">Name Ar</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nameEn"><span jhiTranslate="sahatiApp.benefitRequest.nameEn">Name En</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsCost"><span jhiTranslate="sahatiApp.benefitRequest.pointsCost">Points Cost</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cost"><span jhiTranslate="sahatiApp.benefitRequest.cost">Cost</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="benefitStatus"><span jhiTranslate="sahatiApp.benefitRequest.benefitStatus">Benefit Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notes"><span jhiTranslate="sahatiApp.benefitRequest.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="categoryNameAr"><span jhiTranslate="sahatiApp.benefitRequest.category">Category</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="hospitalNameAr"><span jhiTranslate="sahatiApp.benefitRequest.hospital">Hospital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="benefitNameAr"><span jhiTranslate="sahatiApp.benefitRequest.benefit">Benefit</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let benefitRequest of benefitRequests ;trackBy: trackId">
                    <td><a [routerLink]="['/benefit-request', benefitRequest.id, 'view']">{{ benefitRequest.id }}</a></td>
                    <td>{{ benefitRequest.nameAr }}</td>
                    <td>{{ benefitRequest.nameEn }}</td>
                    <td>{{ benefitRequest.pointsCost }}</td>
                    <td>{{ benefitRequest.cost }}</td>
                    <td jhiTranslate="{{ 'sahatiApp.BenefitStatus.' + benefitRequest.benefitStatus }}">{{ benefitRequest.benefitStatus }}</td>
                    <td>{{ benefitRequest.notes }}</td>
                    <td>
                        <div *ngIf="benefitRequest.categoryId">
                            <a [routerLink]="['/category', benefitRequest.categoryId , 'view']" >{{ benefitRequest.categoryNameAr }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="benefitRequest.hospitalId">
                            <a [routerLink]="['/hospital', benefitRequest.hospitalId , 'view']" >{{ benefitRequest.hospitalNameAr }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="benefitRequest.benefitId">
                            <a [routerLink]="['/benefit', benefitRequest.benefitId , 'view']" >{{ benefitRequest.benefitNameAr }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/benefit-request', benefitRequest.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/benefit-request', benefitRequest.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(benefitRequest)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="benefitRequests?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
