<div>
    <h2 id="page-heading">
        <span jhiTranslate="sahatiApp.cardTransaction.home.title">Card Transactions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-card-transaction" [routerLink]="['/card-transaction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="sahatiApp.cardTransaction.home.createLabel">
            Create a new Card Transaction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cardTransactions?.length === 0">
        <span jhiTranslate="sahatiApp.cardTransaction.home.notFound">No cardTransactions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cardTransactions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="transactionNo"><span jhiTranslate="sahatiApp.cardTransaction.transactionNo">Transaction No</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="amount"><span jhiTranslate="sahatiApp.cardTransaction.amount">Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="pointsAmount"><span jhiTranslate="sahatiApp.cardTransaction.pointsAmount">Points Amount</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="action"><span jhiTranslate="sahatiApp.cardTransaction.action">Action</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="notes"><span jhiTranslate="sahatiApp.cardTransaction.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cardCardNo"><span jhiTranslate="sahatiApp.cardTransaction.card">Card</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cardTransaction of cardTransactions ;trackBy: trackId">
                    <td><a [routerLink]="['/card-transaction', cardTransaction.id, 'view']">{{ cardTransaction.id }}</a></td>
                    <td>{{ cardTransaction.transactionNo }}</td>
                    <td>{{ cardTransaction.amount }}</td>
                    <td>{{ cardTransaction.pointsAmount }}</td>
                    <td jhiTranslate="{{ 'sahatiApp.TransactionAction.' + cardTransaction.action }}">{{ cardTransaction.action }}</td>
                    <td>{{ cardTransaction.notes }}</td>
                    <td>
                        <div *ngIf="cardTransaction.cardId">
                            <a [routerLink]="['/card', cardTransaction.cardId , 'view']" >{{ cardTransaction.cardCardNo }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/card-transaction', cardTransaction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/card-transaction', cardTransaction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cardTransaction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="cardTransactions?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
