<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="sahatiApp.invoice.detail.title">Invoice</span> {{ invoice.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sahatiApp.invoice.invoiceNo">Invoice No</span></dt>
                <dd>
                    <span>{{ invoice.invoiceNo }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.invoiceDate">Invoice Date</span></dt>
                <dd>
                    <span>{{ invoice.invoiceDate }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.payDate">Pay Date</span></dt>
                <dd>
                    <span>{{ invoice.payDate }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.total">Total</span></dt>
                <dd>
                    <span>{{ invoice.total }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.invoiceStatus">Invoice Status</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'sahatiApp.InvoiceStatus.' + invoice.invoiceStatus }}">{{ invoice.invoiceStatus }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.notes">Notes</span></dt>
                <dd>
                    <span>{{ invoice.notes }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.invoice.cardTransaction">Card Transaction</span></dt>
                <dd>
                    <div *ngIf="invoice.cardTransactionId">
                        <a [routerLink]="['/card-transaction', invoice.cardTransactionId, 'view']">{{ invoice.cardTransactionId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
