<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invoice-heading" jhiTranslate="sahatiApp.invoice.home.createOrEditLabel">Create or edit a Invoice</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.invoiceNo" for="field_invoiceNo">Invoice No</label>
                    <input type="text" class="form-control" name="invoiceNo" id="field_invoiceNo"
                           formControlName="invoiceNo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.invoiceDate" for="field_invoiceDate">Invoice Date</label>
                    <div class="input-group">
                        <input id="field_invoiceDate" type="text" class="form-control" name="invoiceDate" ngbDatepicker #invoiceDateDp="ngbDatepicker" formControlName="invoiceDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="invoiceDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.payDate" for="field_payDate">Pay Date</label>
                    <div class="input-group">
                        <input id="field_payDate" type="text" class="form-control" name="payDate" ngbDatepicker #payDateDp="ngbDatepicker" formControlName="payDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="payDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.total" for="field_total">Total</label>
                    <input type="number" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.invoiceStatus" for="field_invoiceStatus">Invoice Status</label>
                    <select class="form-control" name="invoiceStatus" formControlName="invoiceStatus" id="field_invoiceStatus">
                        <option value="APPROVED">{{ 'sahatiApp.InvoiceStatus.APPROVED' | translate }}</option>
                        <option value="CANCELLED">{{ 'sahatiApp.InvoiceStatus.CANCELLED' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.notes" for="field_notes">Notes</label>
                    <input type="text" class="form-control" name="notes" id="field_notes"
                           formControlName="notes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="sahatiApp.invoice.cardTransaction" for="field_cardTransaction">Card Transaction</label>
                    <select class="form-control" id="field_cardTransaction" name="cardTransaction" formControlName="cardTransactionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cardTransactionOption.id" *ngFor="let cardTransactionOption of cardtransactions; trackBy: trackById">{{ cardTransactionOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
