/*------------------------------------------------------------------
File Name: custom.css
-------------------------------------------------------------------*/

/** ADD YOUR AWESOME CODES HERE **/

.modal-header .close {
  float: left;
  padding: 0rem 0rem;
  margin: 0rem 0rem 0rem 0px;
}

#jhi-delete-hospital-heading {
  text-align: right;
}
body {
  text-align: right;
}
.sidebar-button {
  background-color: black;
}

.dropdown-item {
  display: contents;
}
