<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="benefit">
            <h2><span jhiTranslate="sahatiApp.benefit.detail.title">Benefit</span> {{ benefit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sahatiApp.benefit.nameAr">Name Ar</span></dt>
                <dd>
                    <span>{{ benefit.nameAr }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefit.nameEn">Name En</span></dt>
                <dd>
                    <span>{{ benefit.nameEn }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefit.pointsCost">Points Cost</span></dt>
                <dd>
                    <span>{{ benefit.pointsCost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefit.cost">Cost</span></dt>
                <dd>
                    <span>{{ benefit.cost }}</span>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefit.category">Category</span></dt>
                <dd>
                    <div *ngIf="benefit.categoryId">
                        <a [routerLink]="['/category', benefit.categoryId, 'view']">{{ benefit.categoryNameAr }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sahatiApp.benefit.hospital">Hospital</span></dt>
                <dd>
                    <div *ngIf="benefit.hospitalId">
                        <a [routerLink]="['/hospital', benefit.hospitalId, 'view']">{{ benefit.hospitalNameAr }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/benefit', benefit.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
